.app-container {
  background: linear-gradient(#16fcd6, #a707f7);
  display: flex;
  flex-direction: column;
  font-family: Nunito, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.app-components {
  background-color: rgb(238, 238, 238) ;
  border-radius: 1.5rem;
  margin: 3.5rem;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cats-header {
	color: rgba(54, 54, 54, 0.753);
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-decoration: underline;
	text-decoration-color: #a707f7;
}
.cat-selector-field{
  color: grey;
}

.selector {
	margin: 2rem;
}

.display-cat-container {
	margin: 2rem;
}
.display-cat-name {
	color: #a707f7;
}
